li{
float: left;  
position: sticky;
}
a{
padding: 20pt;
font-size: 25pt;
font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin-left: 200pt;
    padding-left: 10pt;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
li a:hover {
    background-color: lightblue;
}
li a{
    font: segoe print;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
header {
    background-color: lightblue;
    display: inline-block;
}
h1{
    margin-top: 20pt;
    font-size: 30pt;
}